.main-slider .unleash_container .unleash_slider .unleash_slide .image-placeholder {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover; 
}

.main-slider {
    width: 100%;
    height: 100%;
}
.main-slider .unleash_container {
    width: 100%;
    height: 100%;
}
.main-slider .unleash_container .unleash_slider {
    height: 845px !important;
    box-shadow: none !important;
}
.main-slider .unleash_container .unleash_slider .unleash_slide {
    height: 845px !important;
    overflow: hidden;
    cursor: default;
}
.main-slider .unleash_container .unleash_slider .unleash_slide:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #eee;
    opacity: 0;
}
.main-slider .unleash_container .unleash_slider .unleash_slide.active .image-placeholder {
    display: none;
}
.main-slider .unleash_container .unleash_slider .unleash_slide .image-placeholder {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
}
.main-slider .unleash_container .unleash_slider .unleash_slide > video {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
}
.main-slider .unleash_container .unleash_slider .single-application {
    position: absolute;
    bottom: 20px;
    z-index: 3;
    width: calc(100% - 30px);
    margin-left: 15px;
    min-height: 0;
}
.main-slider .unleash_container .unleash_slider .single-application > a {
    position: absolute;
    bottom: 20px;
}
.main-slider .unleash_container .unleash_slider .single-application:before {
    display: none;
}


.main-slider .unleash_container .unleash_slider .unleash_caption {
    background: transparent;
    display: block;
    z-index: 2;
    width: 100%;
    position: absolute !important;
    bottom: 30px !important;
    height: 845px !important;
}

.main-slider .unleash_container .unleash_slider .content-wrapper {
    position: absolute;
    padding: 5px 55px 15px;
    bottom: 0;
    background: rgba(255,255,255,0.35);
    height: 155px;
    color: #555;
    width: 100%;
}

.main-slider .unleash_container .unleash_slider .content-wrapper > a {
    color: #444;
    z-index: 999;
    display: block;
    position: relative;
}

.main-slider .unleash_container .unleash_slider .content-wrapper > a > h3 {
    font-family: Montserrat-Medium;
    padding-bottom: 10px;
    margin-bottom: 10px;
    position: relative;
    text-transform: uppercase;
}

.main-slider .unleash_container .unleash_slider .content-wrapper > a > h3:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 12%;
    border: 1px solid;
    bottom: 0;
    left: 0;
}

.main-slider .unleash_container .unleash_slider .content-wrapper .text-content {
    bottom: -30px;
    position: absolute;
    opacity: 0;
    transition: bottom 0.2s ease;
    font-family: Montserrat-Light;
}

.main-slider .unleash_container .unleash_slider .unleash_slide.active .content-wrapper .text-content {
    bottom: 0;
    position: relative;
    opacity: 1;
    animation: swing 1s ease;
    animation-iteration-count: 1;
}

.main-slider .unleash_container .unleash_slider .content-wrapper .text-content .read-more {
    z-index: 999;
    display: block;
    position: relative;
    font-family: Montserrat-Medium;
}


@keyframes swing
{
    15%
    {
        transform: translateX(6px);
    }
    30%
    {
        transform: translateX(-6px);
    }
    50%
    {
        transform: translateX(4px);
    }
    65%
    {
        transform: translateX(-4px);
    }
    80%
    {
        transform: translateX(2px);
    }
    100%
    {
        transform: translateX(0);
    }
}